<div class="split left" id="loginForm">
    <div class="centered">
<form style="box-sizing: unset!important; ">
    
<h2 class="mt-4 mb-4 registerText">REGISTER</h2>

     <!-- firstName input -->
     <div class="form-outline">
        <mat-form-field appearance="fill" style="width: 420px!important; margin-left: -10px!important">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Denisa" required>
          </mat-form-field>
    </div>

         <!-- lastName input -->
         <div class="form-outline">
            <mat-form-field appearance="fill" style="width: 420px!important; margin-left: -10px!important">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Black" required>
              </mat-form-field>
        </div>

    <!-- Email input -->
    <div class="form-outline">
        <mat-form-field appearance="fill" style="width: 420px!important; margin-left: -10px!important">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="123@example.com" required>
          </mat-form-field>
    </div>
  
    <!-- Password input -->
    <div class="form-outline">
        <mat-form-field appearance="fill" style="width: 420px!important; margin-left: -10px!important">
            <mat-label>Enter your password</mat-label>
            <input matInput required>
        </mat-form-field>
    </div>
  

    <div class="text-center mb-4">
        <a href="#!">Forgot password?</a>
    </div>
   
  <div class="row ">
    <!-- Submit button -->
    <button type="submit" class="btn btn-block mb-4" id="loginBtn">Login</button>
  </div>
    <!-- Register buttons -->
    <div class="text-center">
        <p>Already have an account? <a href="#!">Login</a></p>
      <hr class="hr-text" data-content="OR">
      </div>
<div class="col s12 m6 offset-m3 center-align border">

      <a href="#" role="button" class="googleBtn">
        <img src="../../../assets/img/google.png" class="googleImg">Sign in with Google
      </a>
</div>

  </form>
</div>
</div>

<div class="split right">
    <div class="centered">
    <div id="rightside">
        <img src="../../../assets/img/contapluslight.png" class="logo"> 

    <p class="heading">Get your business <br> goals in order</p>
    <p style="color: rgb(226, 226, 226)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt explicabo necessitatibus laboriosam tempore nu</p>
</div>
</div>
</div>