<app-side-bar></app-side-bar>
<div id="main">
    <app-top-nav-bar></app-top-nav-bar>

    <h3 class="col" style="font-weight: 700; color: #525252;">Register Sale Transaction</h3><br>

    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Client</mat-label>
                    <mat-select required formControlName="clientId">
                        <mat-option *ngFor="let client of clients" [value]="client.clientId">
                            {{ client.clientName }}, {{ client.fiscalCode }}
                        </mat-option>
                        <mat-option (click)="openAddClientDialog()"><p style="color: #5757f3; font-weight: 700;"> <mat-icon style="margin-bottom: -5px;">add</mat-icon>Add Client</p></mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col" style="margin-right: 40px;">
                <mat-form-field style="width: 210px;">
                    <mat-label>Transaction Date</mat-label>
                    <input matInput [matDatepicker]="transactionDatePicker" placeholder="Transaction Date"
                        formControlName="transactionDate" required>
                    <mat-datepicker-toggle matSuffix [for]="transactionDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #transactionDatePicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field style="width: 210px;">
                    <mat-label>Due Date</mat-label>
                    <input matInput [matDatepicker]="dueDatePicker" placeholder="Due Date" formControlName="dueDate"
                        required>
                    <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #dueDatePicker></mat-datepicker>
                </mat-form-field>
            </div>


            <div class="col">
                <mat-form-field>
                    <mat-label>Series</mat-label>
                    <input matInput type="text" placeholder="Series" formControlName="documentSeries" required>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Number</mat-label>
                    <input matInput type="text" placeholder="Number" formControlName="documentNumber" required>
                </mat-form-field>
            </div>
        </div><br><br><br>


        <div>
            <table>
                <thead>
                    <tr>
                        <th>Nr</th>
                        <th>Name of the good/service</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total without TVA</th>
                        <th>TVA</th>
                        <th>Total with TVA</th>
                        <th>Description</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of addedProducts; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ product.productName }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.totalWithoutTva }}</td>
                        <td>{{ product.tva }}</td>
                        <td>{{ product.totalWithTva }}</td>
                        <td>{{ product.description }}</td>
                        <td><a (click)="removeProduct(i)" style="color: #5757f3; font-size: 16px;"><i class="material-icons">delete</i></a></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div class="row mt-4">
                <div class="col mr-4">
                    <mat-form-field style="width: 290px;">
                     
                        <mat-select formControlName="selectedProduct" (selectionChange)="onProductSelected($event.value)" placeholder="Product">
                            <mat-option *ngFor="let product of products" [value]="product.productId">
                                {{ product.productName }}
                                <span *ngIf="!product.isService">, {{ product.quantity }}</span>
                                <span style="margin-left: 30px; font-size: 10px;">{{
                                    product.chartOfAccountsCode.accountDescription }}</span>
                            </mat-option>
                        </mat-select>
             
                   
                        <span *ngIf="products.length == 0">No products available. Please <a href="/inventory">add a product first.</a></span>
                  
                      
                    </mat-form-field>
                    
                </div>
                <div class="col ml-4" *ngIf="!isServiceProduct()">
                    <mat-form-field>
                        <input matInput formControlName="quantity" placeholder="Quantity">
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field>
                        <input matInput formControlName="price" placeholder="Price" readonly="">
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field>
                        <input matInput formControlName="description" placeholder="Description">
                    </mat-form-field>
                </div>
                <div class="col">
                    <button type="button" (click)="addProduct()">Add</button>
                </div>
            </div>

            <div class="col">
              <div class="col">
                <div class="col">
                  <mat-checkbox [(ngModel)]="payLater" formControlName="payLater" (change)="onPayLaterChange()">Pay
                    Later</mat-checkbox>
                </div>
                <div class="col">
                  <mat-checkbox [(ngModel)]="isPartialPayment" formControlName="isPartialPayment"
                    (change)="onPartialPaymentChange()">Partial pay</mat-checkbox>
                </div>
      
              </div>
      
              <div class="row" *ngIf="isPartialPayment">
                <div class="col">
                  <mat-form-field>
                    <input matInput type="number" placeholder="Paid Amount" formControlName="paidAmount">
                    <mat-error
                      *ngIf="form.get('paidAmount')?.invalid || form.get('paidAmount')?.value > form.get('amount')?.value"></mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>

            <div>
              <span style="margin-right: 20px;"><button class="submitSaleForm" type="submit">Generate Invoice</button></span>
              <span *ngIf="!payLater"><button class="submitSaleForm" type="submit" (click)="onGenerateInvoiceReceiptChange()">Generate Invoice and Receipt</button></span>
            </div>
            
        </div>
    </form>
    <div class="totalAmounts" *ngIf="addedProducts.length > 0">
        <div>Total without TVA: <span class="amount"> ${{ totalAmountWithoutTva ? totalAmountWithoutTva : 0 }}</span></div>
        <div>Total TVA: <span class="amount"> ${{ totalAmountTva ? totalAmountTva : 0 }}</span></div>
        <div>Total with TVA: <span class="amount"> ${{ totalAmountWithTva ? totalAmountWithTva : 0 }}</span></div>
    </div>

</div>
<div *ngIf="isAddClientDialogOpen" class="add-client-dialog">
  <div class="centered">
    <form [formGroup]="addClientForm" (ngSubmit)="onAddClientSubmit()">
      <div class="row">
        <div class="col" >
          <mat-form-field>
            <input matInput type="text" placeholder="Client Name" formControlName="clientName" required>
          </mat-form-field>
        </div>
        <div class="col input">
          <mat-form-field>
            <input matInput type="text" placeholder="Fiscal Code" formControlName="fiscalCode" required>
          </mat-form-field>
        </div>
     
     
        <div class="col input">
          <mat-form-field>
            <input matInput type="text" placeholder="Address" formControlName="address" required>
          </mat-form-field>
        </div>
        <div class="col input">
          <mat-form-field>
            <input matInput type="text" placeholder="Bank Account" formControlName="bankAccount" required>
          </mat-form-field>
        </div>
    
        <div class="col">
          <mat-dialog-actions>
            <button mat-raised-button style="background-color: #4f4feb; color: white; margin-right: 10px;" type="submit">Add Client</button>
            <button mat-button mat-dialog-close (click)="closeAddClientDialog()">Cancel</button>
          </mat-dialog-actions>
        </div>
       
    </div>
    </form>
  </div>


  
<div *ngIf="isAddProductDialogOpen" class="add-product-dialog">
  <div class="centered">
        <form [formGroup]="productForm" (ngSubmit)="onAddProductSubmit()"> 
            <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select formControlName="accountCode" required>
              <ng-container *ngFor="let group of generalChartOfAccounts">
                <h3>{{ group.title }}</h3>
                <mat-option *ngFor="let account of group.accounts" [value]="account.accountCode">
                 <b>{{ account.accountCode }}</b> {{ account.accountDescription }}
                </mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
            <mat-form-field>
              <mat-label>Product Name</mat-label>
              <input matInput formControlName="productName" required>
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Description</mat-label>
              <input matInput formControlName="description">
            </mat-form-field>
          
            <mat-form-field>
              <mat-label>Price</mat-label>
              <input matInput type="number" formControlName="price" required>
            </mat-form-field>
          
            <mat-form-field *ngIf="productForm.get('accountCode')?.value !== 704">
                
                <mat-label>Quantity</mat-label>
                <input matInput type="number" formControlName="quantity" required>
              </mat-form-field>

                <mat-dialog-actions>
                  <button mat-raised-button style="background-color: #4f4feb; color: white; margin-right: 10px;" type="submit">Add</button>
                  <button mat-button mat-dialog-close (click)="closeAddProductDialog()">Cancel</button>
                </mat-dialog-actions>
         
            </form>
    </div>
    </div>