<app-side-bar></app-side-bar>
<div id="main">
  <app-top-nav-bar></app-top-nav-bar>

  <h3 class="mb-4 col" style="font-weight: 700; color: #525252;">Income Transactions</h3>
  <a href="/income/addIncomeTransaction"><button class="createTransaction" type="button"
      style="margin-left: 15px;">Create New Transaction</button>
  </a>
  <div class="transactions" style="font-size: 14px; margin-top: 30px;">
    <div>

      <mat-form-field>
        <input matInput placeholder="Search" (input)="applyFilter($event)">
      </mat-form-field>

    </div>
    <form [formGroup]="transactionForm" (ngSubmit)="saveTransaction()">
      <table mat-table [dataSource]="dataSource" matSort matSortDirection="desc">

        <ng-container matColumnDef="documentNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Document Number</th>
          <td mat-cell *matCellDef="let transaction">
            <ng-container *ngIf="transaction.transactionId === editingTransactionId; else displayCell">
              <input formControlName="documentNumber" matInput>
            </ng-container>
            <ng-template #displayCell>
              {{ transaction.documentNumber }}
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="documentSeries">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Document Series</th>
          <td mat-cell *matCellDef="let transaction">
            <ng-container *ngIf="transaction.transactionId === editingTransactionId; else displayCell">
              <input formControlName="documentSeries" matInput>
            </ng-container>
            <ng-template #displayCell>
              {{ transaction.documentSeries }}
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="transactionAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>transactionAmount</th>
          <td mat-cell *matCellDef="let transaction">
            <ng-container *ngIf="transaction.transactionId === editingTransactionId; else displayCell">
              <input formControlName="transactionAmount" matInput>
            </ng-container>
            <ng-template #displayCell>
              {{ transaction.transactionAmount }}
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="paidAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>paidAmount</th>
          <td mat-cell *matCellDef="let transaction">
            <ng-container *ngIf="transaction.transactionId === editingTransactionId; else displayCell">
              <input formControlName="paidAmount" matInput>
            </ng-container>
            <ng-template #displayCell>
              {{ transaction.paidAmount }}
            </ng-template>
          </td>
        </ng-container>



        <ng-container matColumnDef="remainingAmount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Remaining Amount</th>
          <td mat-cell *matCellDef="let transaction">{{ transaction.remainingAmount }}</td>
        </ng-container>


        <ng-container matColumnDef="transactionDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Transaction Date</th>
          <td mat-cell *matCellDef="let transaction">{{ transaction.transactionDate | date: 'dd/MM/yyyy' }}</td>
        </ng-container>
        <ng-container matColumnDef="dueDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</th>
          <td mat-cell *matCellDef="let transaction">{{ transaction.dueDate | date: 'dd/MM/yyyy' }}</td>
        </ng-container>
        <ng-container matColumnDef="paymentStatus">
          <th mat-header-cell *matHeaderCellDef>Payment Status</th>
          <td mat-cell *matCellDef="let transaction" [ngClass]="getPaymentStatus(transaction.paymentStatus)">
            <div *ngIf="transaction.paymentStatus === 0">
              <p style="background-color:rgb(223, 114, 204); font-weight: bold;   
        border-radius: 30px; 
        font-size: 10px;
        margin-top: 15px;
        text-align: center;
        padding: 10px 20px;
        color: rgb(85, 26, 109);">Unpaid</p>
            </div>
            <div *ngIf="transaction.paymentStatus === 1">
              <p style="background-color: rgb(232, 230, 118); font-weight: bold;   
          border-radius: 30px; 
          font-size: 10px;
          margin-top: 15px;
          text-align: center;
          padding: 10px 20px;
          color: rgb(106, 122, 0);">Partial</p>
            </div>
            <div *ngIf="transaction.paymentStatus === 2">
              <p style="background-color: rgb(133, 194, 113); font-weight: bold;   
          border-radius: 30px; 
          font-size: 10px;
          margin-top: 15px;
          text-align: center;
          padding: 10px 20px;
          color: rgb(14, 77, 12);">Paid</p>
            </div>
            <div *ngIf="transaction.paymentStatus === 3">
              <p style="background-color: rgb(230, 117, 117); font-weight: bold;   
              border-radius: 30px; 
              font-size: 10px;
              margin-top: 15px;
              text-align: center;
              padding: 10px 20px;
              color: #9c0202;">Overdue</p>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let transaction">
            <ng-container *ngIf="transaction.transactionId === editingTransactionId; else displayButtons">
              <button type="submit">
                <mat-icon>save</mat-icon>
              </button>
            </ng-container>
            <ng-template #displayButtons>
              <button mat-icon-button [matMenuTriggerFor]="dropdownMenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #dropdownMenu="matMenu">
                <button mat-menu-item (click)="deleteTransaction(transaction.transactionId)">
                  <span>Delete</span>
                </button>
                <button mat-menu-item (click)="editTransaction(transaction.transactionId)">
                  <span>Edit</span>
                </button>
              </mat-menu>
            </ng-template>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </form>
    <mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons
      (page)="onPaginateChange($event)"></mat-paginator>
    <div *ngIf="dataSource.data.length === 0">
      <h3 class="no-data">No transactions</h3>
    </div>
  </div>



</div>
<!-- 

<div *ngIf="isCreateIncomeTransactionDialogOpen" class="create-income-transaction-dialog">
  <div class="centered">
    <h4 class="mb-4" mat-dialog-title>Create Income Transaction</h4>
    <form [formGroup]="createIncomeTransactionForm" (ngSubmit)="onCreateIncomeTransactionSubmit()">
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput type="number" placeholder="Total Amount" formControlName="transactionAmount" required>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput type="text" placeholder="Debit Account" formControlName="debitAccount" required>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput type="text" placeholder="Credit Account" formControlName="creditAccount" required>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput type="number" placeholder="Paid Amount" formControlName="paidAmount" required>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <input matInput type="text" placeholder="Document Number" formControlName="documentNumber" required>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field>
            <input matInput type="text" placeholder="Document Series" formControlName="documentSeries" required>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
       
        <div class="col">
          <mat-form-field>
            <input matInput type="text" placeholder="Description" formControlName="description" required>
          </mat-form-field>
        </div> 
        <div class="col">
        <mat-form-field>
          <input matInput [matDatepicker]="dueDatePicker" placeholder="Due Date" formControlName="dueDate" required>
          <mat-datepicker-toggle matSuffix [for]="dueDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #dueDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-dialog-actions>
            <button mat-raised-button style="background-color: #4f4feb; color: white; margin-right: 10px;" type="submit">Create Income Transaction</button>
            <button mat-button mat-dialog-close (click)="closeCreateIncomeTransactionDialog()">Cancel</button>
          </mat-dialog-actions>
        </div>
       
    </div>
    </form>
  </div>
</div> -->