<app-side-bar></app-side-bar>
<div id="main">
    <app-top-nav-bar></app-top-nav-bar>


<h6 style="margin-top: 10%; font-weight: 700;">Income Transactions</h6>
<div class="transactions" style="font-size: 14px; margin-top: 30px;">

    <div>
        <div class="options">
        <button type="button" style="margin-right: 10px;" (click)="openCreateIncomeTransactionDialog()">Create New Transaction</button>
        <mat-form-field>
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input id="transactionDateFilter" [(ngModel)]="transactionDateFilter" style="margin-right: 10px;" matStartDate placeholder="Start date">
            <input id="dueDateFilter" [(ngModel)]="dueDateFilter" style="margin-right: 10px;" matEndDate placeholder="End date">
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <button type="button" (click)="applyFilters()">Show</button>
    </div>
      </div>
    <table class="table" id="#transaction">
        <thead class="thead">
             <tr>
        
    <th style="border-top-left-radius: 30px;" scope="col">Document Number</th>
             <th scope="col">Document Series</th>
             <th scope="col">Total Amount</th>
             <th scope="col">Paid Amount</th>
             <th scope="col">Remaining Amount</th>
             <th scope="col">Debited Account</th>
             <th scope="col">Credited Account</th>
             <th scope="col">Transaction Date</th>
             <th scope="col">Due Date</th>
             <th scope="col">Description</th>
             <th style="border-top-right-radius: 30px;" scope="col">Payment Status</th>
         </tr> </thead><tbody>
             <tr *ngFor="let transaction of transactions">
                 
                 <td>{{ transaction.documentNumber }}</td>
                 <td>{{ transaction.documentSeries }}</td>
                 <td>{{ transaction.transactionAmount }}</td>
                 <td>{{ transaction.paidAmount }}</td>
                 <td>{{ transaction.remainingAmount  }}</td>
                 <td>{{ transaction.debitAccountCode  }}</td>
                 <td>{{ transaction.creditAccountCode  }}</td>
                 <td>{{ transaction.transactionDate | date: 'dd/MM/yyyy' }}</td>
                 <td>{{ transaction.dueDate | date: 'dd/MM/yyyy'  }}</td>
                 <td>{{ transaction.description ? transaction.description : 'No description' }}</td>
                 <td [ngClass]="getPaymentStatus(transaction.paymentStatus)" id="#paymentStatus">
                    {{ transaction.paymentStatus === 0 ? 'Unpaid' : '' }}
                    {{ transaction.paymentStatus === 1 ? 'Partial' : '' }}
                    {{ transaction.paymentStatus === 2 ? 'Paid' : '' }}
                    {{ transaction.paymentStatus === 3 ? 'Overdue' : '' }}
                  </td>
                 
                
             </tr>
         </tbody>
     </table>
</div></div> 


<div *ngIf="isCreateIncomeTransactionDialogOpen" class="create-income-transaction-dialog">
    <div class="centered">
      <h4 class="mb-4" mat-dialog-title>Create Income Transaction</h4>
      <form [formGroup]="createIncomeTransactionForm" (ngSubmit)="onCreateIncomeTransactionSubmit()">
        <div class="row">
          <div class="col">
            <mat-form-field>
              <input matInput type="number" placeholder="Total Amount" formControlName="transactionAmount" required>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput type="text" placeholder="Debit Account" formControlName="debitAccount" required>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput type="text" placeholder="Credit Account" formControlName="creditAccount" required>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <input matInput type="number" placeholder="Paid Amount" formControlName="paidAmount" required>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput type="text" placeholder="Document Number" formControlName="documentNumber" required>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <input matInput type="text" placeholder="Document Series" formControlName="documentSeries" required>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput type="date" placeholder="Due Date" formControlName="dueDate" required>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field>
              <input matInput type="text" placeholder="Description" formControlName="description" required>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-dialog-actions>
              <button mat-raised-button style="background-color: #4f4feb; color: white; margin-right: 10px;" type="submit">Create Income Transaction</button>
              <button mat-button mat-dialog-close (click)="closeCreateIncomeTransactionDialog()">Cancel</button>
            </mat-dialog-actions>
          </div>
        </div>
      </form>
    </div>
  </div>
  