.transactions {
    width: auto;
    box-shadow: 0 0px 20px 0 rgba(231, 231, 231, 0.638);
    height: auto;
    border: none;
    border-radius: 20px;
    padding: 10px;
}



#paymentStatus {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-weight: bold;   
    border-radius: 30px; 
    margin-right: 5px;
    font-size: 10px;
  }
  

  

.createTransaction {
  font-size: 14px;
  background-color: #5757f3;
  border: none;
  color: white;
  }

  .options {
    margin-left: 10px;
  }

  .update-transaction-dialog {
    width: 50%;
    height: 80%;
    background-color: white;
    padding: 70px 70px 0px 125px;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 70vmax rgba(0, 0, 0, .7), rgba(32, 32, 32, 0.35) 0px 5px 15px;
    border-radius: 10px;
    }
    
    
    mat-form-field {
      width: 230px;
      height: 70px;
      font-size: 12px;
      margin-right: 20px;
    }
    
    mat-dialog-actions {
    
      display: flex;
      justify-content: center;
    
    }

    #details {
      width: 20px;
      margin-left: 15px;
    }

    #edit {
      width: 20px;
    }

    #delete {
      width: 20px;
      margin-left: 15px;
    }
