<div class="resetPassword">
    <img src="../../../assets/img/contaplusLOGO.png" alt="Logo" style="width: 70px;">
    <h4 class="mt-4">Reset password</h4>
    <p style="color: rgb(131, 131, 131)">Enter your new password</p>
    <form class="mt-4" (ngSubmit)="onSubmitResetPassword()" style="box-sizing: unset!important;" [formGroup]="resetPasswordForm">
      <mat-dialog-content>
        <div class="row">
          <div class="col-md-3">
        <mat-form-field appearance="fill" >
            <mat-label>Enter password</mat-label>
            <input formControlName="password" type="password" matInput placeholder="Legacy" required>
          </mat-form-field>
        </div>
          </div>
          <div class="row">
          <div class="col-md-3">
        <mat-form-field >
            <mat-label>Confirm password</mat-label>
            <input formControlName="confirmPassword" type="password" matInput placeholder="Legacy" required>
          </mat-form-field>
        </div>
        </div>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button class="resetPassBtn mb-4" mat-raised-button style="background-color: #4f4feb; color: white; margin-right: 10px;" type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
      </mat-dialog-actions>
    </form>
    <a href="login">&#x2190;&nbsp;Back To Login</a>
  </div>