<div class="forgotPassword">
  <img src="../../../assets/img/contaplusLOGO.png" alt="Logo" style="width: 70px;">
  <h4 class="mt-4">Forgot password?</h4>
  <p style="color: rgb(131, 131, 131)">Enter your registered email below to receive password reset instructions</p>
  <form class="mt-4" (ngSubmit)="onSubmitForgotPassword()" style="box-sizing: unset!important;" [formGroup]="forgotPasswordForm">
  
    <mat-dialog-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="example@email.com" formControlName="email" name="email" required>
          </mat-form-field>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button class="resetPassBtn mb-4" mat-raised-button style="background-color: #4f4feb; color: white; margin-right: 10px;" type="submit">Reset Password</button>
    </mat-dialog-actions>
  </form>
  <a href="login">&#x2190;&nbsp;Back To Login</a>