.forgotPassword {
    padding: 30px;
    width: 400px;
    height: 500px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #dfdfdf62 !important;  
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -45%);
    text-align: center;
}

mat-form-field {
    margin-left: 10%;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.resetPassBtn {
    width: 300px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    padding-top: 25px;
    padding-bottom: 25px;
    border-radius: 30px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background-image: linear-gradient(to right, #3838df, #5151df, #3838df );
    box-shadow: 0 4px 15px 0 rgba(92, 96, 228, 0.75);
}

button:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    transform: translateY(-3px);
    box-shadow: 0 4px 15px 0 rgba(92, 96, 228, 0.75);
}

a {
    color: #4f4feb;
    text-decoration: none;
  }