<app-side-bar></app-side-bar>
<div id="main">
  <app-top-nav-bar></app-top-nav-bar>

  <div class="custom-scrollbar scrollable">
    <div class="row">
      <h3 class="mb-4 col" style="font-weight: 700; color: #525252;">Dashboard</h3>
      <div class="options-bar col">
        <div class="option" (click)="toggleOption(0)">This Month</div>
        <div class="option" (click)="toggleOption(1)">This Week</div>
        <div class="option selected" (click)="toggleOption(2)" style="border-right: 0.5px solid #8e8e8e;">Today</div>
      </div>
    </div>

    <div class="cards row" style="margin-left: 1px;">
      <div class="col-3">
        <div class="row">
          <div class="card col">
            <div class="row" style="margin-top: -5px;">
              <div class="col mb-4">
                <span class="material-icons"
                  style="font-size: 35px; padding: 3px; background-color: #e4e4e4; width: 42px; border-radius: 10px;">
                  person
                </span>

              </div>
              <div class="col-8" style="margin-top: 10px; color: #747474;">
                <h6>Clients</h6>
              </div>
              <h1>{{totalClients}}</h1>
            </div>
          </div>
          <div class="card col">
            <div class="row" style="margin-top: -5px;">
              <div class="col mb-4">
                <span class="material-icons"
                  style="font-size: 35px; padding: 3px; background-color: #e4e4e4; width: 42px; border-radius: 10px;">
                  local_shipping
                </span>
              </div>
              <div class="col-8" style="margin-top: 10px; color: #747474;">
                <h6>Supppliers</h6>
              </div>
              <h1>{{totalSuppliers}}</h1>

            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row">
          <div class="card col">
            <div class="row" style="margin-top: -5px;">
              <span class="material-icons"
                style="margin-left: 10px; font-size: 35px; padding: 3px; background-color: #d8c2c2; width: 42px; border-radius: 10px;">
                paid
              </span>

              <div class="col text-right">
                <div class="dropdown" [class.show]="isEarningDropdownOpen">
                  <button class="btn" type="button" (click)="toggleEarningDropdown()" aria-haspopup="true"
                    aria-expanded="false">
                    <span class="material-icons">more_vert</span>
                  </button>
                  <div class="dropdown-menu" [class.show]="isEarningDropdownOpen" aria-labelledby="dropdownMenuButton"
                    (mouseleave)="closeEarningDropdown()">
                    <a class="dropdown-item" [routerLink]="['/income/addIncomeTransaction']">
                      <div class="row">

                        <div class="col-2">
                          <span class="material-icons">
                            add
                          </span>
                        </div>
                        <div class="col">Add New Income </div>
                      </div>
                    </a>
                    <a class="dropdown-item" [routerLink]="['/income/allIncomes']">
                      <div class="row">

                        <div class="col-2"><span class="material-icons">
                            list_alt
                          </span></div>
                        <div class="col">
                          Incomes List</div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <h2>${{totalIncome}}</h2>
            <h6 style="color: #747474; margin-top: 5px;">Total Revenues</h6>

          </div>
          <div class="card col">
            <div class="row" style="margin-top: -5px;">

              <span class="material-icons"
                style="margin-left: 10px; font-size: 35px; padding: 3px; background-color: #e3e6ff; width: 42px; border-radius: 10px;">
                payments
              </span>
              <div class="col text-right">
                <div class="dropdown" [class.show]="isExpenseDropdownOpen">
                  <button class="btn" type="button" (click)="toggleExpenseDropdown()" aria-haspopup="true"
                    aria-expanded="false">
                    <span class="material-icons">more_vert</span>
                  </button>
                  <div class="dropdown-menu" [class.show]="isExpenseDropdownOpen" aria-labelledby="dropdownMenuButton"
                    (mouseleave)="closeExpenseDropdown()">
                    <a class="dropdown-item" href="#">
                      <div class="row">

                        <div class="col-2">
                          <span class="material-icons">
                            add
                          </span>
                        </div>
                        <div class="col">Add New Expense </div>
                      </div>
                    </a>
                    <a class="dropdown-item" href="#">
                      <div class="row">

                        <div class="col-2"><span class="material-icons">
                            list_alt
                          </span></div>
                        <div class="col">
                          Expense List</div>
                      </div>
                    </a>
                  </div>

                </div>
              </div>
            </div>
            <h2>${{totalExpense}}</h2>
            <h6 style="color: rgb(116, 116, 116); margin-top: 5px;">Total Expenses</h6>

          </div>

          <div class="card col" style="background-color: #5757f3;">
            <div class="row" style="margin-top: -5px;">
              <span class="material-icons"
                style="margin-left: 10px; font-size: 35px; color: #fff; padding: 3px; background-color: #8383f4; width: 42px; border-radius: 10px;">
                wallet
              </span>

            <h2 style="color: rgb(255, 255, 255);">${{ company?.cashBalance !== null ? company?.cashBalance : 0 }}</h2>
              <h6 style="color: rgb(239, 239, 239); margin-top: 5px;">Cash Balance</h6>


            </div>
          </div>

        </div>
      </div>
      <br>
      <div class="row">
        <div class="chart mt-4 mr-4 col d-flex justify-content-center">
          <div style="width: 550px;">
            <canvas id="myChart"></canvas>
          </div>
        </div>
        <div class="chart mt-4 col d-flex justify-content-center">
          <div style="width: 450px;">
            <div id="chart"></div>
          </div>
        </div>
      </div>

      <div class="companies mt-4">
        <table class="table" id="#company">
          <thead class="thead">
            <tr>
              <th style="border-top-left-radius: 10px;" scope="col">Company Name</th>
              <th scope="col">Fiscal Code</th>
              <th scope="col">Trade Register</th>
              <th scope="col">Social Capital</th>
              <th scope="col">Address</th>
              <th style="border-top-right-radius: 10px;" scope="col">TVA Payer</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let company of companies">

              <td>{{ company.companyName }}</td>
              <td>{{ company.fiscalCode }}</td>
              <td>{{ company.tradeRegister }}</td>
              <td>{{ company.socialCapital }}</td>
              <td>{{ company.address }}</td>
              <td><input type="checkbox" [(ngModel)]="company.tvaPayer" disabled></td>

            </tr>
          </tbody>
        </table>
        <!-- 
<div *ngIf="isUpdateCompanyDialogOpen" class="update-company-dialog">
  <div class="centered">
  <h4 class="mb-4" mat-dialog-title>Update Company</h4>
  <mat-error style="font-size: 14px;" *ngIf="updateCompanyForm.controls['tradeRegister'].hasError('pattern')">
    Trade register must be in the format 'J01/123/4567'.
  </mat-error> -->
        <!-- 
  <form [formGroup]="updateCompanyForm" (ngSubmit)="onUpdateCompanySubmit()">
    <mat-dialog-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput type="text" placeholder="Company Name" formControlName="companyName" name="companyName" required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email" name="email" required>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput type="text" placeholder="Fiscal Code" formControlName="fiscalCode" name="fiscalCode" required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput type="text" placeholder="Trade Register" formControlName="tradeRegister" name="tradeRegister" required>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput type="tel" placeholder="Phone Number" formControlName="phoneNumber" name="phoneNumber" required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput type="text" placeholder="Address" formControlName="address" name="address">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput type="text" placeholder="Social Capital" formControlName="socialCapital" name="socialCapital" required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-checkbox formControlName="tvaPayer" name="tvaPayer">TVA Payer</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-dialog-actions>
            <button mat-raised-button 
            style="background-color: #4f4feb; color: white; margin-right: 10px;" 
            type="submit">Create Company</button>
          </mat-dialog-actions>
        </div>
      </div>
    </mat-dialog-content>
  </form>
</div>
</div>
 -->