
<!--Side Nav Bar-->
<app-side-bar></app-side-bar>
<!-- Main Content -->
<div id="main">
    <!-- Top Nav Bar -->
<app-top-nav-bar></app-top-nav-bar>

<div class="custom-scrollbar scrollable">
  <h3>Dashboard</h3>
  <!-- Cards for displaying data -->
  <div class="">
    <div class="">
      <!-- Card content goes here -->
      Card 1
    </div>
    <div class="">
      <!-- Card content goes here -->
      Card 2
    </div>
    <div class="">
      <!-- Card content goes here -->
      Card 3
    </div>
  </div>

  <div>
    <p>User ID: {{ user?.userId }}</p>
    <p>Email: {{ user?.email }}</p>
    <p>First name: {{ user?.firstName }}</p>
    <p>Last name: {{ user?.lastName }}</p>
    <p>Created at: {{ user?.createdAt }}</p>
    <h4>Roles:</h4>
    <ul>
      <div *ngFor="let userCompanyRole of user?.userCompanyRoles">
          <li *ngFor="let role of userCompanyRole?.roles">
            {{ role?.roleName }}
          </li>
        </div>
    </ul>
    
    </div> 
    <h4>Companies:</h4>
    <ul>
    <li *ngFor="let company of companies">{{ company.companyId}}, {{ company.companyName }}</li>
  </ul>

<div *ngIf="companyData">

  <h3>Company Info</h3>
<p>Company ID: {{ companyData[0]?.companyId }}</p>
<p>Company Name: {{ companyData[0]?.companyName }}</p>
<p>Fiscal Code: {{ companyData[0]?.fiscalCode }}</p>
</div>

</div>



<div *ngIf="isUpdateCompanyDialogOpen" class="update-company-dialog">
  <div class="centered">
  <h4 class="mb-4" mat-dialog-title>Update Company</h4>
  <mat-error style="font-size: 14px;" *ngIf="updateCompanyForm.controls['tradeRegister'].hasError('pattern')">
    Trade register must be in the format 'J01/123/4567'.
  </mat-error>

  <form [formGroup]="updateCompanyForm" (ngSubmit)="onUpdateCompanySubmit()">
    <mat-dialog-content>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput type="text" placeholder="Company Name" formControlName="companyName" name="companyName" required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput type="email" placeholder="Email" formControlName="email" name="email" required>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput type="text" placeholder="Fiscal Code" formControlName="fiscalCode" name="fiscalCode">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput type="text" placeholder="Trade Register" formControlName="tradeRegister" name="tradeRegister">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput type="tel" placeholder="Phone Number" formControlName="phoneNumber" name="phoneNumber">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <input matInput type="text" placeholder="Address" formControlName="address" name="address">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <input matInput type="text" placeholder="Social Capital" formControlName="socialCapital" name="socialCapital" required>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-checkbox formControlName="tvaPayer" name="tvaPayer">TVA Payer</mat-checkbox>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-dialog-actions>
            <button mat-raised-button 
            style="background-color: #4f4feb; color: white; margin-right: 10px;" 
            type="submit">Create Company</button>
          </mat-dialog-actions>
        </div>
      </div>
    </mat-dialog-content>
  </form>
</div>
</div>











