
.split {
    height: 100%;
    width: 85%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
  
    left: 2%;
    top: 1%;
  
  }


  
  /* Control the right side */
  .right {
    right: 0;
    background-color: #4f4feb;
    background-image: url("../../../assets/img/cover3.jpg");
    box-shadow: 0px 6px 15px 0px rgba(67, 67, 231, 0.57);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 47%;

  }







.upper{
    height: 70px;
    
    
}

.card{
    width: 300px;
    height: 200px;
   background-color: rgb(255, 255, 255);
   border: none;
   box-shadow: 0px 0px 15px 0px rgba(214, 214, 214, 0.57);
}





  #main {
    padding: 16px;
    padding-left: 60px;
    margin-left: 85px;
    transition: margin-left 0.5s;
  }

  
  
  



/* Top Nav Bar */

/* Cards Container */
.card-container {
  /* Add margin or padding for spacing between cards */
  margin-top: 20px;
  display: flex;
  /* Use flexbox to align cards in a row, adjust flex properties as needed */
}

.card {
  /* Set width, height, and margin for cards */
  width: 200px;
  height: 150px;
  margin-right: 20px;
  /* Add any other styles for cards as needed */
}
