.split {
  height: 100%;
  width: 85%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {

  left: 2%;
  top: 1%;

}



/* Control the right side */
.right {
  right: 0;
  background-color: #4f4feb;
  background-image: url("../../../../assets/img/cover3.jpg");
  box-shadow: 0px 6px 15px 0px rgba(67, 67, 231, 0.57);
  background-repeat: no-repeat;
  background-size: cover;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 47%;

}



.upper {
  height: 70px;


}


.card {
  padding: 20px 10px 20px 15px;
  width: 100px;
  height: 135px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 0px 0px 10px -4px rgba(102, 102, 102, 0.74);
}

.small-card {
  padding: 20px 10px 20px 15px;
  width: 100px;
  height: 150px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 10px;
  margin-right: 20px;
  box-shadow: 0px 0px 10px -4px rgba(102, 102, 102, 0.74);
}

.chart {
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  height: 300px;
  box-shadow: 0px 0px 10px -4px rgba(102, 102, 102, 0.74);
}



.card-container {
  margin-top: 100px;
  display: flex;
}


.payBtn {
  background-color: rgb(62, 62, 62);
  color: rgb(189, 189, 189);
  border-radius: 1px;
  font-weight: bold;
  border-radius: 30px;
  font-size: 10px;
  border: none;
  padding: 5px;
  text-align: center;
  margin-top: 5px;

}



.update-company-dialog {
  width: 50%;
  height: 80%;
  background-color: white;
  padding: 70px 70px 0px 125px;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 70vmax rgba(0, 0, 0, .7), rgba(32, 32, 32, 0.35) 0px 5px 15px;
  border-radius: 10px;
}


mat-form-field {
  width: 270px;
  font-size: 14px;
  margin-right: 270px;
}

mat-dialog-actions {

  display: flex;
  justify-content: center;

}

.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-focus-icon-color: #4f4feb !important;
  --mdc-checkbox-selected-hover-icon-color: #4f4feb !important;
  --mdc-checkbox-selected-icon-color: #4f4feb !important;
  --mdc-checkbox-selected-pressed-icon-color: #4f4feb !important;
}


.centered {
  position: absolute;
  top: 47%;
  left: 49%;
  transform: translate(-50%, -45%);
  text-align: center;

}




.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


.navbar {
  background-color: #ffffff !important;
  box-shadow: 0px 15px 10px -15px #b4b4b462 !important;
  padding-bottom: 10px !important;
  margin-top: -20px !important;
  margin-left: -27px !important;
}



.logoutBtn {
  color: #fff !important;
  background: linear-gradient(#4f4feb, #5959e3);
}

.logoutBtn:hover {
  background: linear-gradient(#3a3aca, #3a3aca);
}


.dropdown {
  background-color: #f5f2ff;
  padding: 5px 30px 5px 30px;
  border-radius: 10px;
  margin-top: 3px;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.dropdown:hover {
  border-radius: 10px 10px 0 0;
}

.dropdown img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

.dropdown .username {
  font-size: 14px;
  font-weight: bold;
  color: #333;

}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 100%;
  left: 0;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content a:hover {
  background-color: #f2f2f2;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-menu {
  width: 200px;
}

.companyName {
  font-size: 12px;
  margin-left: 30px;
  margin-top: 10px;
}

.companyNameValue {
  margin-left: 7px;
  font-size: 18px;
  font-weight: bold;
  padding-right: 250px;
}

.add-company-dialog {
  width: 50%;
  height: 80%;
  background-color: white;
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 70vmax rgba(0, 0, 0, .7), rgba(32, 32, 32, 0.35) 0px 5px 15px;
  border-radius: 10px;
}


mat-form-field {
  width: 270px;
  font-size: 14px;
  margin-right: 270px;
}

mat-dialog-actions {

  display: flex;
  justify-content: center;

}

.mat-mdc-checkbox.mat-accent {
  --mdc-checkbox-selected-focus-icon-color: #4f4feb !important;
  --mdc-checkbox-selected-hover-icon-color: #4f4feb !important;
  --mdc-checkbox-selected-icon-color: #4f4feb !important;
  --mdc-checkbox-selected-pressed-icon-color: #4f4feb !important;
}

.centered {
  position: absolute;
  top: 47%;
  left: 49%;
  transform: translate(-50%, -45%);
  text-align: center;
}


.dropdown {
  background-color: transparent !important;
  padding: 0px !important;
  border-radius: 10px;
  margin-top: 0px !important;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

#dropdownMenuButton {
  background-color: transparent !important;
  color: #333;
  border: none;
}

.companies {
  border-radius: 10px;
  padding: 7px;
  box-shadow: 0px 0px 10px -4px rgba(102, 102, 102, 0.74);
  width: 98.5%;
}

#company {
  border-collapse: collapse;
  overflow: hidden;
}

.table td {
  border: none;
  padding-left: 10px;

}
th {
  font-size: 12px;
}

.options-bar {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.option {
  font-size: 14px;
  text-align: center;
  width: 100px;
  height: 28px;
  padding: 2px 10px;
  cursor: pointer;
  border-top: 0.5px solid #8e8e8e;
  border-left: 0.5px solid #8e8e8e;
  border-bottom: 0.5px solid #8e8e8e;
}

.option:hover {
  background-color: #e8e8e8;
}

.option.selected {
  background-color: #171717;
  color: #fff;
}