
<!--Side Nav Bar-->
<app-side-bar></app-side-bar>
<!-- Main Content -->
<div id="main">
    <!-- Top Nav Bar -->
<app-top-nav-bar></app-top-nav-bar>

<div class="custom-scrollbar scrollable">
  <h3>Dashboard</h3>
  <!-- Cards for displaying data -->
  <div class="card-container">
    <div class="card">
      <!-- Card content goes here -->
      Card 1
    </div>
    <div class="card">
      <!-- Card content goes here -->
      Card 2
    </div>
    <div class="card">
      <!-- Card content goes here -->
      Card 3
    </div>
  </div>

  <div>
    <p>User ID: {{ user?.userId }}</p>
    <p>Email: {{ user?.email }}</p>
    <p>First name: {{ user?.firstName }}</p>
    <p>Last name: {{ user?.lastName }}</p>
    <p>Created at: {{ user?.createdAt }}</p>
    <h4>Roles:</h4>
    <ul>
      <li *ngFor="let role of user?.roles">{{ role?.roleName }}</li>
    </ul>
    
    </div> 
    <h4>Companies:</h4>
    <ul>
    <li *ngFor="let company of companies">{{ company.companyId}}, {{ company.companyName }}</li>
  </ul>

<div *ngIf="companyData">

  <h3>Company Info</h3>
<p>Company ID: {{ companyData[0]?.companyId }}</p>
<p>Company Name: {{ companyData[0]?.companyName || "doesn't exist"}}</p>
<p>Fiscal Code: {{ companyData[0]?.fiscalCode || "doesn't exist"}}</p>
</div>

</div>













