.clients {
    width: auto;
    box-shadow: 0 0px 20px 0 rgba(231, 231, 231, 0.638);
    height: auto;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.addClient {
    font-size: 12px;
    background-color: #5757f3;
    border: none;
    color: white;
    border-radius: 10px;
  }

  /* mat-form-field {
    width: 200px;
  }

  .input {
    margin-left: -150px;
  } */

