<!-- Side Bar -->
<div id="mySidebar" class="sidebar" (mouseover)="toggleSidebar()" (mouseout)="toggleSidebar()">
    <div class="logo">
     <img src="../../../assets/img/whitelogo.png" id="logo"></div>
     <a href="#"><i class="material-icons">info</i><span class="sideBarText">Dropdown</span></a><br>
    
       <div class="w3-dropdown-hover">
         <a class=""><i class="material-icons">info</i> <span class="sideBarText">Dropdown</span></a>
         <div class="w3-dropdown-content">
           <a href="#" class="w3-bar-item">Link</a>
           <a href="#" class="w3-bar-item">Link</a>
         </div>
       </div> 
   </div>
   
   