<!-- Side Bar -->
<div id="mySidebar" class="sidebar" (mouseenter)="toggleSidebar()" (mouseleave)="toggleSidebar()">
  <div class="logo">
    <img src="../../../assets/img/whitelogo.png" id="logo">
  </div>

  <div class="sidenav">
    <a href="dashboard">
      <span class="material-icons">
        dashboard
        </span>
      <span class="sideBarText">Dashboard</span>
    </a>

    <a (mouseenter)="toggleDropdownIncome()">
      <span class="material-icons">
        trending_up
        </span>
      <span class="sideBarText">Income </span><span class="material-icons">
        arrow_drop_down
        </span>        
    </a>
    <div class="dropdown-container" *ngIf="dropdownIncomeVisible" (mouseleave)="toggleDropdownIncome()">
      <a href="#">Inregistrare factura</a>
      <a href="#">Inregistrare factura</a>
    </div>

    <a (mouseenter)="toggleDropdownExpense()">
      <span class="material-icons">
        output
        </span>
        
        
      <span class="sideBarText">Expense </span><span class="material-icons">
        arrow_drop_down
        </span>
        
    </a>
    <div class="dropdown-container" *ngIf="dropdownExpenseVisible" (mouseleave)="toggleDropdownExpense()">
      <a href="#">Inregistrare factura</a>
      <a href="#">Inregistrare factura</a>
    </div>
  </div>
  <a href="#">
    <span class="material-icons">
      table_view
      </span>
      

      
    <span class="sideBarText">Invoices</span>
  </a>
  <a href="#">
    <span class="material-icons">
      inventory
      </span>   
       <span class="sideBarText">Reports</span>
  </a>
  <a href="#">
    <span class="material-icons">
      receipt_long
      </span>
    <span class="sideBarText">Inventory</span>
  </a>
  <a (mouseenter)="toggleDropdownCompany()">
    <span class="material-icons">
      business
      </span>
      
      
    <span class="sideBarText">Company</span><span class="material-icons">
      arrow_drop_down
      </span>
      
  </a>
  <div class="dropdown-container" *ngIf="dropdownCompanyVisible" (mouseleave)="toggleDropdownCompany()">
    <a href="#">Company Details</a>
    <a href="#">Clients</a>
    <a href="#">Vendors</a>
    <a href="#">Team</a>
  </div>
</div>

   
   