<app-side-bar></app-side-bar>
<div id="main">
    <app-top-nav-bar></app-top-nav-bar>

<h3 class="mb-4 col" style="font-weight: 700; color: #525252;">Suppliers</h3>
<button class="addClient" type="button" style="margin-left: 15px;" (click)="openAddSupplierDialog()">Add Supplier</button>

<div class="clients" style="font-size: 14px; margin-top: 30px;">
 <div>

<div class="table-container">
    <table mat-table [dataSource]="dataSource" >

      <ng-container matColumnDef="supplierName">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let supplier">{{ supplier.supplierName }}</td>
      </ng-container>
  
      <ng-container matColumnDef="fiscalCode">
        <th mat-header-cell *matHeaderCellDef>Fiscal Code</th>
        <td mat-cell *matCellDef="let supplier">{{ supplier.fiscalCode }}</td>
      </ng-container>
  
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let supplier">{{ supplier.address }}</td>
      </ng-container>

      <ng-container matColumnDef="bankAccount">
        <th mat-header-cell *matHeaderCellDef>Bank Account</th>
        <td mat-cell *matCellDef="let supplier">{{ supplier.bankAccount }}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedSuppliersColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedSuppliersColumns;"></tr>
  
    </table>
  </div>
  
  
  <div *ngIf="suppliers.length === 0">
    <h3 class="no-data">No suppliers</h3>
  </div>


  <div *ngIf="isAddSupplierDialogOpen" class="add-client-dialog">
    <div class="centered">
      <form [formGroup]="addSupplierForm" (ngSubmit)="onAddSupplierSubmit()">
        <div class="row">
          <div class="col">
            <mat-form-field>
              <input matInput type="text" placeholder="Supplier Name" formControlName="supplierName" required>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput type="text" placeholder="Fiscal Code" formControlName="fiscalCode" required>
            </mat-form-field>
          </div>
       
       
          <div class="col">
            <mat-form-field>
              <input matInput type="text" placeholder="Address" formControlName="address" required>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field>
              <input matInput type="text" placeholder="Bank Account" formControlName="bankAccount" required>
            </mat-form-field>
          </div>
      
          <div class="col">
            <mat-dialog-actions>
              <button mat-raised-button style="background-color: #4f4feb; color: white; margin-right: 10px;" type="submit">Add Supplier</button>
              <button mat-button mat-dialog-close (click)="closeAddSupplierDialog()">Cancel</button>
            </mat-dialog-actions>
          </div>
         
      </div>
      </form>
    </div> 

</div>
