#loginBtn {
  width: 99%;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 30px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#loginBtn:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  transform: translateY(-3px);
}

#loginBtn:focus {
  outline: none;
}

#loginBtn {
  background-image: linear-gradient(to right, #3838df, #5c5cf0, #3838df, #5151df);
  box-shadow: 0 4px 15px 0 rgba(92, 96, 228, 0.75);
}


/* 
#loginBtn{
    background-color: #4f4feb;
    color: white;
    border-radius: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 99%;
    font-weight: 500;
    font-size: 14px;
}

#loginBtn:hover{
    background-color: #3939cc;
} */

.loginText {
  color: rgb(61, 61, 61);
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 50px;
}

#loginForm {
  position: relative;
  padding-left: -4%;
  padding-right: 45%;
  width: 600px;
  display: inline-block;
}

.logo {
  width: 250px;
  margin-bottom: 20px;
}

.split {
  height: 100%;
  width: 55%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  margin-top: -3%;
}

/* Control the right side */
.right {
  right: 0;
  background-color: rgb(79, 79, 235);
  background-image: url("src\assets\img\cover3.jpg");
  box-shadow: 0px 6px 15px 0px rgba(67, 67, 231, 0.57);
  background-repeat: no-repeat;
  background-size: cover;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -45%);
  text-align: center;
}

div.border {
  background-color: white;
  border-color: rgb(79, 79, 235) !important;
  border-radius: 30px;
  border-style: solid;
  border-width: medium;
  margin-left: -12px;
  margin-right: -12px;
}

div.border:hover {
  background-color: rgb(246, 245, 255);
}

a {
  color: #4f4feb;
  text-decoration: none;
}

form {
  font-size: 14px !important;
}

mat-label {
  font-size: 12px !important;
}

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
}

.hr-text::before {
  content: '';

  background-color: #c7c7c7;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 .5em;
  line-height: 1.5em;
  color: #a8a8a8;
  background-color: #fcfcfa;
}

.heading {
  font-size: 36px !important;
  font-weight: 700;
  color: rgb(255, 255, 255);
  line-height: 40px;
}

.lorem {
  font-size: 18px;
  line-height: 22px;
}

.carousel-inner {
  width: 600px;

}

.remember-me {
  padding-bottom: 20px;
}

.remember-me-label {
  padding-right: 10px;
}